* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.nav {
    background: #000000;
}

.container {
    max-width: 1248px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-content {

    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    font-family: arial;
    color: #FFFFFF;
    align-self: center;
    display: block;

}

.nav-list {
    display: flex;
    padding: 14px 0;
}

.nav-link {
    margin-right: 70px;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    font-family: arial;
    color: #FFFFFF;
}

.header {
    background: url(../images/header.png);
    height: 850px;
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.first {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    font-family: arial;
    color: #000000;
    margin-bottom: 156px;

}

.button {
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    font-family: arial;
    color: #000000;
    padding: 5px 23px 15px 23px;
    background: #FFFFFF;
    border-radius: 10px;
}

.main-content {
    padding-top: 30px;
    padding-bottom: 112px;
    background: #0E1C25;
}

.class {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    font-family: arial;
    color: #FFFFFF;
    text-align: center;
}


.content {
    max-width: 1218px;
    width: 100%;
    margin: 47px auto 0 auto;
    display: flex;
    justify-content: space-around;
}

.man {
    max-width: 500px;
    width: 100%;
}

.name {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    font-family: arial;
    color: #FFFFFF;
    margin-bottom: 62px;
}

.text {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    font-family: arial;
    color: #FFFFFF;
    max-width: 427px;
    width: 100%;
}

.general {
    background: #5C6B81;
    padding-top: 43px;
    padding-bottom: 70px;

}

.parent-work {
    margin: 0 auto;
}

.child {
    background: #B12B06;
    border-radius: 10px;
    width: 312px;
    height: 550px;
    margin-top: 30px;
}

.grey-man {
    margin-top: 15px;
    margin-left: 15px;
}

.street {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    font-family: arial;
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
}

.paragraph {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin: 20px 36px;
    font-family: arial;
    color: #FFFFFF;
    width: 264px;

}

.navigation {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    font-family: arial;
    color: #000000;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 8px 22px;
    margin: 0 72px;
    display: block;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.footer {
    background: #000000;
    padding-bottom: 30px;
}

h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    display: block;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 46px;
}

.medias {
    max-width: 1218px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

}